@charset "UTF-8";
@font-face {
  font-family: "roboto";
  src: url(/assets/fonts/Roboto/Roboto-BlackItalic.ttf);
}
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.fondo {
  background-color: #004280 !important;
}

.blanco {
  color: white !important;
}

.texto {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
}

.row {
  justify-content: space-between;
  margin-right: 0% !important;
}

.invertir {
  filter: invert(1);
}

/****************** COMPUTADORAS Y LAPTOPS GRANDES********************/
@media (min-width: 1280px) {
  header {
    max-width: 100vw;
  }
  nav {
    border-bottom: solid white 5px;
    border-left: 0ch !important;
    border-right: 0ch !important;
  }
  .topPage {
    display: grid;
    grid-template-rows: repeat(2, auto);
  }
  .topPage__button {
    display: none;
  }
  .navbar {
    padding: 0 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  .topPage__Up {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    justify-content: space-between;
  }
  .topPage__Down {
    grid-row: 2/3;
    display: grid !important;
    grid-template-columns: 1fr;
  }
  .brand {
    grid-column: 1/4;
    display: block;
  }
  .search {
    padding-right: 1%;
    grid-column: 4/10;
    justify-self: center;
    width: 90%;
  }
  .logo {
    width: 18%;
    padding-left: 2%;
  }
  .heroGames {
    width: 70%;
  }
  #navbarNavDropdown {
    margin-top: 1%;
    border-top: solid white 5px;
    display: grid !important;
    grid-template-columns: 1fr;
  }
  .otrosLinks {
    grid-area: otro;
    display: flex;
  }
  .otrosLinks__lista {
    position: absolute;
    top: 0%;
    right: 0cm;
  }
  .otrosLinks__elemento {
    display: inline-block;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    font-size: 17px;
    color: white;
    padding: 0px 8px;
  }
  .botonNavegacion {
    display: none;
  }
  .seccion {
    display: grid !important;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    grid-template-columns: repeat(5, 1fr);
  }
  .nav__element {
    display: flex;
    transition: 0.3s;
    justify-content: center;
    color: white !important;
    text-align: center;
    font-size: 1.5vw;
  }
  .nav__element:hover {
    background-color: white;
    color: #004280 !important;
  }
  .seccion__elemento > * {
    align-self: center;
  }
  .novedades {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #004280;
    border-bottom: solid #DBFE00 20px;
    justify-items: center;
    align-items: center;
  }
  .novedades__flecha {
    filter: invert(1);
    width: 50%;
    transition: all 150ms;
  }
  .novedades__flecha:hover {
    filter: invert(1);
    width: 80%;
  }
  .anterior {
    grid-column: 1/2;
  }
  .siguiente {
    grid-column: 7/8;
  }
  .novedades__imagenes {
    /*background-color: aquamarine;*/
    background-position: top;
    background-attachment: scroll;
    background-size: cover;
    color: white;
    width: 100%;
  }
  .novedades--animacion {
    -webkit-animation-name: crecer;
            animation-name: crecer;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  @-webkit-keyframes crecer {
    0% {
      transform: scale(0);
    }
    70% {
      transform: scale(1.2);
    }
    100% {
      transform: scaleX(1);
    }
  }
  @keyframes crecer {
    0% {
      transform: scale(0);
    }
    70% {
      transform: scale(1.2);
    }
    100% {
      transform: scaleX(1);
    }
  }
  .novedades--derecha {
    -webkit-animation-name: derecha;
            animation-name: derecha;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes derecha {
    0% {
      transform: translate(-5%);
    }
    50% {
      transform: translate(5%);
    }
    100% {
      transform: translate(-5%);
    }
  }
  @keyframes derecha {
    0% {
      transform: translate(-5%);
    }
    50% {
      transform: translate(5%);
    }
    100% {
      transform: translate(-5%);
    }
  }
  .novedades--izquierda {
    -webkit-animation-name: izquierda;
            animation-name: izquierda;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes izquierda {
    0% {
      transform: translate(5%) rotate(180deg);
    }
    50% {
      transform: translate(-5%) rotate(180deg);
    }
    100% {
      transform: translate(5%) rotate(180deg);
    }
  }
  @keyframes izquierda {
    0% {
      transform: translate(5%) rotate(180deg);
    }
    50% {
      transform: translate(-5%) rotate(180deg);
    }
    100% {
      transform: translate(5%) rotate(180deg);
    }
  }
  .novedades__producto {
    max-width: 100%;
    border-radius: 25px;
    grid-column: 2/7;
  }
  .destacados {
    margin: 0px;
    border-bottom: solid #DBFE00 20px;
  }
  .destacados article {
    position: relative;
    height: 490px;
    display: flex;
  }
  .destacados > * {
    justify-content: space-evenly;
    flex-direction: column;
  }
  .destacados__titulo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    margin-left: 5%;
    top: inherit;
    color: black;
  }
  .destacados__imagenes {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
  }
  .destacados__producto {
    max-height: 280px;
    max-width: 280px;
  }
  .producto {
    position: relative;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    height: 80vh;
  }
  .videojuegos {
    background-image: url("/assets/backgrouond/juegos/xbox.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .tcg {
    background-image: url("/assets/backgrouond/white_and_black_halftone_background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .producto__marcas {
    grid-row: 2/3;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .n1 {
    grid-column: 1/2;
    align-self: center;
  }
  .n2 {
    grid-column: 2/3;
    align-self: center;
  }
  .n3 {
    grid-column: 3/4;
    align-self: center;
  }
  .producto__logo {
    width: 85%;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 50px;
    transition: all 100ms;
  }
  .producto__logo:hover {
    width: 98%;
  }
  .banner2 {
    width: 100%;
    height: 835px;
    background-image: url("/assets/backgrouond/juegos/play.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    font-family: "roboto";
    color: white;
    font-weight: bold;
    display: grid;
    align-content: center;
    text-align: center;
  }
  #pie {
    width: 100%;
    color: #DBFE00;
    padding: 20px 20px;
    background-color: #004280;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    position: relative;
  }
  .redes-sociales img {
    max-height: 30px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .redes-sociales img :first-of-type {
    margin-left: 0%;
  }
}
/************ COMPUTADORAS PEQUEÑAS *************************/
@media (max-width: 1279px) and (min-width: 992px) {
  header {
    max-width: 100vw;
  }
  nav {
    border-bottom: solid white 5px;
    border-left: 0ch !important;
    border-right: 0ch !important;
  }
  .topPage {
    display: grid;
    grid-template-rows: repeat(2, auto);
  }
  .topPage__button {
    display: none;
  }
  .navbar {
    padding: 0 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  .topPage__Up {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    justify-content: space-between;
  }
  .topPage__Down {
    grid-row: 2/3;
    display: grid !important;
    grid-template-columns: 1fr;
  }
  .brand {
    grid-column: 1/4;
    display: block;
  }
  .search {
    padding-right: 1%;
    grid-column: 4/10;
    justify-self: center;
    width: 90%;
  }
  .logo {
    width: 18%;
    padding-left: 2%;
  }
  .heroGames {
    width: 70%;
  }
  #navbarNavDropdown {
    margin-top: 1%;
    border-top: solid white 5px;
    display: grid !important;
    grid-template-columns: 1fr;
  }
  .otrosLinks {
    grid-area: otro;
    display: flex;
  }
  .otrosLinks__lista {
    position: absolute;
    top: 0%;
    right: 0cm;
  }
  .otrosLinks__elemento {
    display: inline-block;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    font-size: 17px;
    color: white;
    padding: 0px 8px;
  }
  .botonNavegacion {
    display: none;
  }
  .seccion {
    display: grid !important;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    grid-template-columns: repeat(5, 1fr);
  }
  .nav__element {
    display: flex;
    transition: 0.3s;
    justify-content: center;
    color: white !important;
    text-align: center;
    font-size: 1.5vw;
  }
  .nav__element:hover {
    background-color: white;
    color: #004280 !important;
  }
  .seccion__elemento > * {
    align-self: center;
  }
  .novedades {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #004280;
    border-bottom: solid #DBFE00 20px;
    justify-items: center;
    align-items: center;
  }
  .novedades__flecha {
    filter: invert(1);
    width: 50%;
    transition: all 150ms;
  }
  .novedades__flecha:hover {
    filter: invert(1);
    width: 80%;
  }
  .anterior {
    grid-column: 1/2;
  }
  .siguiente {
    grid-column: 7/8;
  }
  .novedades__imagenes {
    /*background-color: aquamarine;*/
    background-position: top;
    background-attachment: scroll;
    background-size: cover;
    color: white;
    width: 100%;
  }
  .novedades--animacion {
    -webkit-animation-name: crecer;
            animation-name: crecer;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  @-webkit-keyframes crecer {
    0% {
      transform: scale(0);
    }
    70% {
      transform: scale(1.2);
    }
    100% {
      transform: scaleX(1);
    }
  }
  @keyframes crecer {
    0% {
      transform: scale(0);
    }
    70% {
      transform: scale(1.2);
    }
    100% {
      transform: scaleX(1);
    }
  }
  .novedades--derecha {
    -webkit-animation-name: derecha;
            animation-name: derecha;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes derecha {
    0% {
      transform: translate(-5%);
    }
    50% {
      transform: translate(5%);
    }
    100% {
      transform: translate(-5%);
    }
  }
  @keyframes derecha {
    0% {
      transform: translate(-5%);
    }
    50% {
      transform: translate(5%);
    }
    100% {
      transform: translate(-5%);
    }
  }
  .novedades--izquierda {
    -webkit-animation-name: izquierda;
            animation-name: izquierda;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes izquierda {
    0% {
      transform: translate(5%) rotate(180deg);
    }
    50% {
      transform: translate(-5%) rotate(180deg);
    }
    100% {
      transform: translate(5%) rotate(180deg);
    }
  }
  @keyframes izquierda {
    0% {
      transform: translate(5%) rotate(180deg);
    }
    50% {
      transform: translate(-5%) rotate(180deg);
    }
    100% {
      transform: translate(5%) rotate(180deg);
    }
  }
  .novedades__producto {
    max-width: 100%;
    border-radius: 25px;
    grid-column: 2/7;
  }
  .destacados {
    margin: 0px;
    border-bottom: solid #DBFE00 20px;
  }
  .destacados article {
    position: relative;
    height: 490px;
    display: flex;
  }
  .destacados > * {
    justify-content: space-evenly;
    flex-direction: column;
  }
  .destacados__titulo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    margin-left: 5%;
    top: inherit;
    color: black;
  }
  .destacados__imagenes {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
  }
  .destacados__producto {
    max-height: 280px;
    max-width: 280px;
  }
  .producto {
    position: relative;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    height: 80vh;
  }
  .videojuegos {
    background-image: url("/assets/backgrouond/juegos/xbox.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .tcg {
    background-image: url("/assets/backgrouond/white_and_black_halftone_background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .producto__marcas {
    grid-row: 2/3;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .n1 {
    grid-column: 1/2;
    align-self: center;
  }
  .n2 {
    grid-column: 2/3;
    align-self: center;
  }
  .n3 {
    grid-column: 3/4;
    align-self: center;
  }
  .producto__logo {
    width: 85%;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 50px;
    transition: all 100ms;
  }
  .producto__logo:hover {
    width: 98%;
  }
  .banner2 {
    width: 100%;
    height: 835px;
    background-image: url("/assets/backgrouond/juegos/play.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    font-family: "roboto";
    color: white;
    font-weight: bold;
    display: grid;
    align-content: center;
    text-align: center;
  }
  #pie {
    width: 100%;
    color: #DBFE00;
    padding: 20px 20px;
    background-color: #004280;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    position: relative;
  }
  .redes-sociales img {
    max-height: 30px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .redes-sociales img :first-of-type {
    margin-left: 0%;
  }
}
/************ TABLETS GRANDES *************************/
@media (max-width: 991px) and (min-width: 768px) {
  .menu__texto {
    font-size: 3vw;
    text-align: center;
    border-bottom: solid gainsboro 1px;
    padding-top: 5px;
  }
  .menu__borde {
    border-bottom: solid gainsboro 3px;
  }
  nav {
    border-top: solid white 5px;
    border-bottom: solid white 5px;
    border-left: 0ch !important;
    border-right: 0ch !important;
    margin: 0 0;
  }
  .topPage {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
  }
  .topPage__button {
    display: flex;
    justify-content: center;
  }
  .brand {
    display: flex;
    justify-content: center;
  }
  .sm-blanco {
    color: white;
  }
  .search {
    padding-top: 1%;
    padding-bottom: 1%;
    justify-items: center !important;
    align-items: center;
    width: 95vw;
  }
  .logo {
    width: 7vw;
    padding-top: 1%;
  }
  .heroGames {
    width: 50vw;
    padding-top: 1%;
  }
  .otrosLinks {
    display: none;
  }
  .otrosLinks__lista {
    display: none;
  }
  .otrosLinks__elemento {
    display: none;
  }
  .novedades {
    display: flex;
    border-bottom: solid #DBFE00 10px;
    background-color: #004280;
    justify-content: center;
  }
  .anterior {
    display: none;
  }
  .siguiente {
    display: none;
  }
  .novedades__producto {
    width: 100vw;
    border-radius: 0%;
  }
  .destacados {
    padding-top: 2%;
    border-bottom: solid #DBFE00 10px;
  }
  .destacados__titulo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: italic;
    font-size: 22px;
    text-align: center;
    color: black;
  }
  .destacados__imagenes {
    display: grid;
    grid-template-rows: repeat(5, 200px);
    flex-direction: column;
  }
  .destacados__producto {
    max-height: 150px;
    align-self: center;
    justify-self: center;
  }
  .videojuegos {
    background-image: url("/assets/backgrouond/juegos/xbox.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .tcg {
    background-image: url("/assets/backgrouond/white_and_black_halftone_background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .producto__marcas {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-around;
  }
  .producto__logo {
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .banner2 {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/backgrouond/juegos/play.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "roboto";
    color: white;
    font-weight: bold;
    display: grid;
    align-content: center;
    text-align: center;
  }
  .banner2 h1 {
    font-size: 40px;
  }
  #pie {
    display: grid;
    grid-template-areas: "texto" "imagenes";
    bottom: auto;
    color: white;
    padding: 20px 20px;
    background-color: #004280;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    justify-content: center;
    align-items: center;
    border-top: solid #DBFE00 5px;
  }
  .pie__texto {
    grid-area: texto;
  }
  .redes-sociales {
    display: flex;
    justify-content: center;
  }
  .redes-sociales img {
    grid-area: imagenes;
    max-height: 30px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .redes-sociales img :first-of-type {
    margin-left: 0%;
  }
}
/************ TABLETS Y CELULARES GRANDES*************************/
@media (max-width: 767px) and (min-width: 577PX) {
  .menu__texto {
    font-size: 3vw;
    text-align: center;
    border-bottom: solid gainsboro 1px;
    padding-top: 5px;
  }
  .menu__borde {
    border-bottom: solid gainsboro 3px;
  }
  nav {
    border-top: solid white 5px;
    border-bottom: solid white 5px;
    border-left: 0ch !important;
    border-right: 0ch !important;
    margin: 0 0;
  }
  .topPage {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
  }
  .topPage__button {
    display: flex;
    justify-content: center;
  }
  .brand {
    display: flex;
    justify-content: center;
  }
  .sm-blanco {
    color: white;
  }
  .search {
    padding-top: 1%;
    padding-bottom: 1%;
    justify-items: center !important;
    align-items: center;
    width: 95vw;
  }
  .logo {
    width: 7vw;
    padding-top: 1%;
  }
  .heroGames {
    width: 50vw;
    padding-top: 1%;
  }
  .otrosLinks {
    display: none;
  }
  .otrosLinks__lista {
    display: none;
  }
  .otrosLinks__elemento {
    display: none;
  }
  .novedades {
    display: flex;
    border-bottom: solid #DBFE00 10px;
    background-color: #004280;
    justify-content: center;
  }
  .anterior {
    display: none;
  }
  .siguiente {
    display: none;
  }
  .novedades__producto {
    width: 100vw;
    border-radius: 0%;
  }
  .destacados {
    padding-top: 2%;
    border-bottom: solid #DBFE00 10px;
  }
  .destacados__titulo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: italic;
    font-size: 22px;
    text-align: center;
    color: black;
  }
  .destacados__imagenes {
    display: grid;
    grid-template-rows: repeat(5, 200px);
    flex-direction: column;
  }
  .destacados__producto {
    max-height: 150px;
    align-self: center;
    justify-self: center;
  }
  .videojuegos {
    background-image: url("/assets/backgrouond/juegos/xbox.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .tcg {
    background-image: url("/assets/backgrouond/white_and_black_halftone_background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .producto__marcas {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-around;
  }
  .producto__logo {
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .banner2 {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/backgrouond/juegos/play.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "roboto";
    color: white;
    font-weight: bold;
    display: grid;
    align-content: center;
    text-align: center;
  }
  .banner2 h1 {
    font-size: 40px;
  }
  #pie {
    display: grid;
    grid-template-areas: "texto" "imagenes";
    bottom: auto;
    color: white;
    padding: 20px 20px;
    background-color: #004280;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    justify-content: center;
    align-items: center;
    border-top: solid #DBFE00 5px;
  }
  .pie__texto {
    grid-area: texto;
  }
  .redes-sociales {
    display: flex;
    justify-content: center;
  }
  .redes-sociales img {
    grid-area: imagenes;
    max-height: 30px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .redes-sociales img :first-of-type {
    margin-left: 0%;
  }
}
/************ CELULARES PEQUEÑOS  *************************/
@media (max-width: 576px) {
  .menu__texto {
    font-size: 3vw;
    text-align: center;
    border-bottom: solid gainsboro 1px;
    padding-top: 5px;
  }
  .menu__borde {
    border-bottom: solid gainsboro 3px;
  }
  nav {
    border-top: solid white 5px;
    border-bottom: solid white 5px;
    border-left: 0ch !important;
    border-right: 0ch !important;
    margin: 0 0;
  }
  .topPage {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
  }
  .topPage__button {
    display: flex;
    justify-content: center;
  }
  .brand {
    display: flex;
    justify-content: center;
  }
  .sm-blanco {
    color: white;
  }
  .search {
    padding-top: 1%;
    padding-bottom: 1%;
    justify-items: center !important;
    align-items: center;
    width: 95vw;
  }
  .logo {
    width: 7vw;
    padding-top: 1%;
  }
  .heroGames {
    width: 50vw;
    padding-top: 1%;
  }
  .otrosLinks {
    display: none;
  }
  .otrosLinks__lista {
    display: none;
  }
  .otrosLinks__elemento {
    display: none;
  }
  .novedades {
    display: flex;
    border-bottom: solid #DBFE00 10px;
    background-color: #004280;
    justify-content: center;
  }
  .anterior {
    display: none;
  }
  .siguiente {
    display: none;
  }
  .novedades__producto {
    width: 100vw;
    border-radius: 0%;
  }
  .destacados {
    padding-top: 2%;
    border-bottom: solid #DBFE00 10px;
  }
  .destacados__titulo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: italic;
    font-size: 22px;
    text-align: center;
    color: black;
  }
  .destacados__imagenes {
    display: grid;
    grid-template-rows: repeat(5, 200px);
    flex-direction: column;
  }
  .destacados__producto {
    max-height: 150px;
    align-self: center;
    justify-self: center;
  }
  .videojuegos {
    background-image: url("/assets/backgrouond/juegos/xbox.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .tcg {
    background-image: url("/assets/backgrouond/white_and_black_halftone_background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .producto__marcas {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-around;
  }
  .producto__logo {
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .banner2 {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/backgrouond/juegos/play.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "roboto";
    color: white;
    font-weight: bold;
    display: grid;
    align-content: center;
    text-align: center;
  }
  .banner2 h1 {
    font-size: 40px;
  }
  #pie {
    display: grid;
    grid-template-areas: "texto" "imagenes";
    bottom: auto;
    color: white;
    padding: 20px 20px;
    background-color: #004280;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    justify-content: center;
    align-items: center;
    border-top: solid #DBFE00 5px;
  }
  .pie__texto {
    grid-area: texto;
  }
  .redes-sociales {
    display: flex;
    justify-content: center;
  }
  .redes-sociales img {
    grid-area: imagenes;
    max-height: 30px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .redes-sociales img :first-of-type {
    margin-left: 0%;
  }
}/*# sourceMappingURL=estilos.css.map */